@import 'https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap';

@import 'https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap';

@import 'https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap';

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
   user-select: none;
   box-sizing: border-box;
    border: none;
}

:root {
  --tomato: #FF3300;
  --shadow: 5px 5px 10px #b3b3b3, -5px -5px 10px #ffffff;
  --roboto: 'Roboto Condensed', sans-serif;
  --sans: 'Roboto Condensed', sans-serif;
  ;
  --robo:'Roboto Condensed', sans-serif;
  --raji: 'Rajdhani', sans-serif;
  --blackColor: #000;
  --black: #000;
  --dark: #333;
  --white: #fff;
  --whitesmoke: #F7F7F7;
  --smoke: #e9eef7;
  --tomato: #FF3300;
  --theme: #0066FF;
  --lime: #43b33c;
  --gray: #424242;
  --faded: rgba(5, 6, 8, 0.2);
  --theme: var(--lime);
  --black: var(--smoke);
  --background: #17181c;
}

.flex-column{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
     align-items: center;
   justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.flex-row{
    padding: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
   justify-content: center;
   flex-direction: row;
}

.flex-row-wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: start;
  justify-content: center;
 flex-direction: row;
  align-self: flex-start;
  padding-left: -10px;
  gap: 30px;
  width: 100%;
 flex-wrap: wrap;
}

.flex-column-wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  align-self: flex-start;
  padding-left: 10px;
}

.flex-wrap{
  flex-wrap: wrap;
}

body {
  background-color: var(--background);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.condensed {
  text-shadow: .1px .1px .1px #aaa;
  color: var(--theme);
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-weight: bolder;
  text-transform: capitalize;
}

p {
    font-size: .8rem;
    text-align: justify;
    color: var(--smoke);
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: .1px;
}

h6,h5,h4,h3,h2,h1{
font-family: var(--roboto);
color: var(--theme);
text-transform: capitalize;
padding-left: 10px;
padding-right: 10px;
}

h4{
  font-family: var(--roboto);
  font-size: .8rem;
  color: var(--theme);
  text-transform: capitalize;
}

h1{
  font-size: 1.17rem;
}

#biblePage{
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  flex-direction: column;
  background: inherit;
  align-self: flex-start;
}

body .footer{
  padding: 20px;
  width: 100%;
  max-height: 900px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 8px 8px 0 0;
  gap: 10px !important;
}

body .footer .flex-row-wrap{
  margin: 10px 0;
}

.icon-up{
  padding: 10px;
  position: absolute;
  right: 20px;
  backdrop-filter: blur(5px);
  color: var(--theme);
  bottom: 10px;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 50%;
}

.icon-up:hover,.icon-up:active{
transform: scale(1.2);
}

.fld{
 width: 90%;
 height: 60px;
 background: #BFCCE6;
 border-radius: 30px !important;
 backdrop-filter: blur(5px);
}

.input{
  margin-top: -10px;
  width: 90%;
  height: 40px;
  padding-left: 10px;
  margin-top: 0px;
  outline: none;
  border: none !important;
  outline: none !important;
  border-radius: 30px !important;
  background: none !important;
  color: #000 !important;
}

.fld .input::placeholder{
  color: #343f46 !important;
}

label{
  font-family: var(--raji) !important;
  font-size: .9rem !important;
  color: var(--smoke) !important;
}

.lgl{
  margin-left: 5%;
  color: var(--theme);
  background: none;
  font-size: var(--medium);
  letter-spacing: .7px;
  font-weight: bold;
  font-family: var(--raji);
  display: none;
}

.btn,button,#button{
  width: 90%;
  height: 45px;
  background-image: radial-gradient(circle, #67bb0b, #71b914, #7ab81c, #83b623, #8ab52a);
  color: #111;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: .8rem;
  font-family: var(--roboto);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: none;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 5px;
  height: 55px;
  cursor: grab;
  letter-spacing: .1rem;
}

.whole{
  width: 100%;
}

.skeleton-mom{
  width: 340px;
  height: 130px;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: #BFCCE6;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.skeleton-child{
  height: 130px;
  border-radius: 4px;
  padding: 10px;
}

.skeleton-child-1 h6{
  width: 100px;
  height: 20px;
  background: #343f46;
  animation: anime 1000ms alternate-reverse infinite;
  border-radius: 4px;
}

.skeleton-child-1 main{
  width: 80px;
  background: #343f46;
  height: 80px;
  border-radius: 30px;
  animation: anime 1000ms alternate-reverse infinite;
}

.skeleton-child-2{
  width: 200px;
  gap: 30px;
}

.skeleton-child-2 div{
  font-weight: bolder;
  text-transform: uppercase;
  font-size: .6rem;
  gap:10px;
  width: 66px;
  height: 60px;
  border-radius: 0px;
  -webkit-box-shadow: var(--ithunzi);
  box-shadow: var(--ithunzi);
  background: #343f46;
  color: var(--white);
  cursor: pointer;
  animation: anime 1000ms alternate-reverse infinite;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@-webkit-keyframes anime{
from{opacity: .2;
  -webkit-transform: scale(.8);
          transform: scale(.8);
}
to{opacity: .9;
  -webkit-transform: scale(.9);
          transform: scale(.9);
}
}

@keyframes anime{
from{opacity: .2;
  -webkit-transform: scale(.8);
          transform: scale(.8);
}
to{opacity: .9;
  -webkit-transform: scale(.9);
          transform: scale(.9);
}
}

.quote-content{
  font-family: var(--sans) !important;
  font-size: 1.5rem;
  font-weight: bolder;
}

.universal-box{
  z-index: 20;
  bottom: 15px;
  position: fixed;
  min-width: 300px;
  max-width: 98%;
  min-height: 100px;
  max-height: 300px;
  padding: 20px;
  background: var(--background);
  border-radius: 7px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: var(--border);
}

#content{
  color: var(--smoke);
  text-transform: capitalize;
  font-weight: normal;
  font-family: var(--roboto);
  font-weight: normal;
}

#title{
  font-size: .8rem;
  color: var(--theme);
  font-weight: bold; 
  text-transform: capitalize;
}

#universalOkay{
  font-family: var(--sans) !important;
  background-image: radial-gradient(circle, #f42f2f, #f72727, #fa1e1d, #fd1311, #ff0000);
  font-weight: bold;
  color: var(--smoke);
  padding: 15px;
  border-radius: 4px;
  font-size: .8rem;
  text-transform: capitalize;
 -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

#universalOkay:hover,#universalOkay:active{
  filter: grayscale(50%);
}

.article,article,#form{
  padding-top: 30px;
  background: var(--background);
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  /* From https://css.glass */
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(16px) saturate(180%);
 border-radius: 12px;
 min-height: 50px;
 border: var(--border);
}

#resized{
  position: absolute;
  top: 100px;
  z-index: 1000;
  font-size: 1rem;
  font-weight: bolder;
  background: var(--smoke);
}

.footer-social{
  width: 50px;
  height: 50px;
}

.footer-social:hover,.footer-social:active{
  transform: scale(1.2);
}

.social-gmail{
  background-image: radial-gradient(circle, #f42f2f, #f72727, #fa1e1d, #fd1311, #ff0000);
}

.social-github{
  background: radial-gradient(circle, #000813, #060708);
}

.social-stack{
  background: radial-gradient(circle, #F48024, #C54E19);
}

.social-whatsapp{
  background: radial-gradient(circle, #28D146, #1EAB36);
}

.social-linkedin{
  background: radial-gradient(circle, #1877F2, #0D5DA9);
}

.social-telegram{
  background: radial-gradient(circle, #0178a7, #0087B9);
}

.social-instagram{
  background: radial-gradient(circle, #EE2A7B, #ac3f6d);
}

.social-share{
  background: radial-gradient(circle, #0066FF, #0052CC);
}

.child-social:hover,.child-social:active{
  border :none;
  filter: grayscale(100%);
}
 
i{
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
  }
  
#bibleInput,#bibleInputNo{
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  height: 50px;
  border-radius: 30px !important;
  padding-left: 20px;
  font-family: var(--roboto);
  font-weight: normal;
  background: #ccc;
  text-transform: capitalize;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #000;
}

#bibleInput::placeholder ,#bibleInputNo::placeholder,#fromCurrency::placeholder,#toCurrency::placeholder{
  color: var(--smoke);
  font-weight: normal;
  letter-spacing: .1rem;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(/images/delete.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  position:relative;
  right:20px;  
  transform: scale(1.5);
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
}

button:hover,button:active {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

.list{
  font-family: var(--raji);
  font-size: .8rem; 
  text-transform: capitalize;
  
}

:is(.list) li{
  padding: 10px;
  color: var(--smoke);
  font-size: .9rem;

}

#bibleSuggestions{
	margin-left: 5%;
	margin-top: 3px;
  width: 90%;
  list-style: none;
}

#bibleSuggestions{
  margin: 0;
}

#bibleSuggestions li{
  font-family: var(--raji);
  font-size: 1rem;
  padding: 12px;
  margin-bottom: 5px;
  color: #000;
  background: #BFCCE6;
  border-radius: 4px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#bibleSuggestions :is(li:hover,li:active){
  background-image: radial-gradient(circle, #67bb0b, #71b914, #7ab81c, #83b623, #8ab52a);
  font-family: var(--sans);
  cursor: grabbing;
}

#bibleContent{
  width: 90%;
  text-align: center;
}

#biblePage #bibleContent{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

#bibleContent p{
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  align-self: start;
  padding: 20px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  /* background: var(--lime); */
  font-size: 1rem;
  color: #fefefe;
  border-radius: 5px;
  font-family: var(--robo);
  background: #81b316;
  color: #000;
}

#bibleContent :is(p:hover,p:active){
  background: #6f9915;
  color: #000;
  cursor: pointer;
}

#bibleContent{
  margin-top: -50px;
}

#biblePage .word-search{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
 justify-content: center;
}

#bibleInput{
  width: 100%;
  background: none !important;
  font-weight: normal !important;
  color: #000;
  height: 100%;
  font-family: var(--raji) !important;
  text-align: left;
}

#bibleInputNo{
  font-weight: normal;
  color: #000;
  width: 100%;
  background: none !important;
  height: 100%;
  text-align: center;
  font-family: var(--raji) !important;
}

#biblePage .fld,#wordInput{
  width: 100%;
  height: 65px; 
  border-radius: 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background:#ccc;
}

.bible-search{
  display: -ms-grid;
  display: grid;
  width: 100%;
  place-items: center;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.chapter{
  position: fixed;
  left: 10px;
  width: calc(200px * 2);
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 10%;
    max-height: 100%;
    border: .1px solid #222;
    padding: 10px;
    background: #000;
    border-radius: 8px;
    gap: 20px;
}

#chapters{
 display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

#chapters span{
    align-self: flex-start;
    min-width: 70px;
    place-items: center;
    padding: 10px;
    display: grid;
    border-radius: 7px;
    height: 40px;
    color: #000;
    font-family: var(--robo);
    text-transform: capitalize;
    background: rgb(52,61,70);
    background: #ccc;
    cursor: grab;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px) saturate(180%);
}

#chapters .span-active{
  background: var(--lime) !important;
  font-weight: bolder;
  color: #000 !important;
}

#chapters :is(span:hover,span:active){
  color: #000 !important;
  font-weight: bolder;
  background: var(--tomato);
    
}

#books{
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: grid;
  place-items: center;
}

p{
  font-family: var(--robo);
  font-size: .9rem;
}

#select{
  cursor: grab;
  background: var(--lime);
  width: 90px;
  height: 40px;
  border-radius: 30px;
  font-family: var(--robo);
  display: grid;
  place-items: center;
  text-transform: capitalize;
}

#select:hover,#select:active{
  background: var(--tomato);
  transform: scale(1.2);
  font-weight: bolder;
}

#cancelChapters{
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--tomato);
  cursor: grab;
}

#cancelChapters:hover,#cancelChapters:active{
transform: scale(1.2);
filter: grayscale(20%);
}





/* special classes start  */
.full {
  width: 100%;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.overflow{
  overflow: hidden;
  width: 100%;
}

.full-child {
  width: 320px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding :20px;
}

.nogap{
  gap: 0 !important;
  padding: 0;
}

.svg{
  width: 40px;
  height: 40px;
}

.wrap{
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gap{
  gap: 10px;
}

.round {
    border-radius: 50%;
}

.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize{
  text-transform: capitalize;
}

.space {
    padding: 10px;
}

.bolder {
    font-weight: bolder;
}

.center {
    text-align: center;
}

.normal {
  font-weight: normal;
  color: #343f46;
}

.noshadow{
  -webkit-box-shadow: none;
          box-shadow: none;
}

.small{
  font-size: var(--small);
}

.uppercase{
  text-transform: uppercase;
}

.smallest{
  font-size: var(--smallest);
}

.gap-30{
  gap: 30px;
}

.shadow{
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);
}

.border{
  border: .1px solid var(--theme);
}

.noline{
  outline: none;
}

.capitalize{
  text-transform: capitalize;
}

.hidden{
  visibility: hidden;
}

.italics{
  font-style: italic;
}

.outline{
  outline: 1px solid var(--faded);
}

.scale{
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.reflect{
 -webkit-box-reflect: below 0 linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,1));
}

.scaled{
  -webkit-transform: scale(.95);
      -ms-transform: scale(.95);
          transform: scale(.95);
}

.img{
  width: 70%;
}

.highlight{
  font-family: var(--roboto);
  color: var(--theme);
  text-transform: capitalize;
}

.radius{
  border-radius: 5px;
}

.nobg{
  background: inherit !important;
  border: none;
}

.opace{
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

.smoke{
  background: var(--smoke) !important;
}

.border-right{
  border-top: none !important;
  border-left: none !important;
  border-bottom: none !important;
}

.tomato{
  color: var(--tomato);
}

.bgImg{
  background-image: radial-gradient(circle, #67bb0b, #71b914, #7ab81c, #83b623, #8ab52a);
  border-radius: 5%;
}