/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import 'https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap';


* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
    border: none;
}

:root {
  --roboto: 'Roboto Condensed', sans-serif;
  --sans: 'Roboto Condensed', sans-serif;
  ;
  --robo:'Roboto Condensed', sans-serif;
  --raji: 'Roboto Condensed', sans-serif;
  --smoke: #e9eef7;
  --tomato: #FF3300;
  --lime: #43b33c;
  --faded: rgba(5, 6, 8, 0.2);
  --theme: var(--lime);
  --black: var(--smoke);
  --background: #17181c;
}

.flex-column{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
}

.flex-row{
    padding: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
}

.flex-row-wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: -10px;
  gap: 30px;
  width: 100%;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
}

.flex-column-wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 10px;
}

.flex-wrap{
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body {
  background-color: var(--background);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.condensed {
  text-shadow: .1px .1px .1px #aaa;
  color: var(--theme);
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-weight: bolder;
  text-transform: capitalize;
}

p {
    font-size: .8rem;
    text-align: justify;
    color: var(--smoke);
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: .1px;
}

h6,h5,h4,h3,h2,h1{
font-family: var(--roboto);
color: var(--theme);
text-transform: capitalize;
padding-left: 10px;
padding-right: 10px;
}

h4{
  font-family: var(--roboto);
  font-size: .8rem;
  color: var(--theme);
  text-transform: capitalize;
}

h1{
  font-size: 1.17rem;
}

#biblePage{
  width: 100%;
  min-height: 100%;
  /* top: 0;
  left: 0; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: inherit;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

body footer{
  position: relative;
  width: 100%;
  display: grid;
  gap: 30px;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  border-top: 1px solid #222;
padding-bottom: 70px;
}

footer > main{
  padding: 10px;
  width: 100%;
  display: grid;
  gap: 30px;
  height: 200px;
  place-items: center;
  grid-template-rows: 40px auto;
}

footer > main > h1{
  color: #999;
  font-size: 1rem;
}

.icon-up{
  padding: 15px;
  position: absolute;
  right: 20px;
  border: .1px solid var(--theme);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: var(--theme);
  bottom: 100px;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 50%;
  transition: all 2.5s;

}

.icon-up:hover,.icon-up:active{
background: var(--theme);
color: #000000;
}

.fld{
 width: 90%;
 height: 80px !important;
 background: #BFCCE6;
 -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.input{
  margin-top: -10px;
  width: 90%;
  height: 60px;
  padding-left: 10px;
  margin-top: 0px;
  outline: none;
  border: none !important;
  outline: none !important;
  background: none !important;
  color: #000 !important;
  caret-color: var(--theme);
}

.fld .input::-webkit-input-placeholder{
  color: #343f46 !important;
}

.fld .input::-moz-placeholder{
  color: #343f46 !important;
}

.fld .input:-ms-input-placeholder{
  color: #343f46 !important;
}

.fld .input::-ms-input-placeholder{
  color: #343f46 !important;
}

.fld .input::placeholder{
  color: #343f46 !important;
}

label{
  font-family: var(--raji) !important;
  font-size: .9rem !important;
  color: var(--smoke) !important;
}

.lgl{
  margin-left: 5%;
  color: var(--theme);
  background: none;
  font-size: var(--medium);
  letter-spacing: .7px;
  font-weight: bold;
  font-family: var(--raji);
  display: none;
}

.btn,button,#button{
  width: 90%;
  height: 45px;
  background-image: -o-radial-gradient(circle, #67bb0b, #71b914, #7ab81c, #83b623, #8ab52a);
  background-image: radial-gradient(circle, #67bb0b, #71b914, #7ab81c, #83b623, #8ab52a);
  color: #000;
  text-transform: uppercase;
  font-size: .9rem;
  font-family: var(--roboto);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: none;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 5px;
  height: 55px;
  cursor: -webkit-grab;
  cursor: grab;
  letter-spacing: .1rem;
  transition: all 2.5s;
 @keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:center"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
}
  background: radial-gradient(circle, hsla(116, 50%, 47%, 1) 0%, hsla(116, 53%, 53%, 1) 58%, hsla(116, 74%, 62%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(116, 50%, 47%, 1) 0%, hsla(116, 53%, 53%, 1) 58%, hsla(116, 74%, 62%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(116, 50%, 47%, 1) 0%, hsla(116, 53%, 53%, 1) 58%, hsla(116, 74%, 62%, 1) 100%);
  cursor: grab;
  transition: background 9000;
}

.whole{
  width: 100%;
}

.skeleton-mom{
  width: 340px;
  height: 130px;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  border-radius: 16px;
  /* -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-self: center !important;
}

.skeleton-child{
  height: 130px;
  border-radius: 4px;
  padding: 10px;
}

.skeleton-child-1 h6{
  width: 100px;
  height: 20px;
  background: #343f46;
  animation: anime 1000ms alternate-reverse infinite;
  border-radius: 4px;
}

.skeleton-child-1 div{
  width: 80px;
  background: #343f46;
  height: 80px;
  border-radius: 30px;
  animation: anime 1000ms alternate-reverse infinite;
}

.skeleton-child-2{
  width: 200px;
  gap: 30px;
}

.skeleton-child-2 div{
  font-weight: bolder;
  text-transform: uppercase;
  font-size: .6rem;
  gap:10px;
  width: 66px;
  height: 60px;
  border-radius: 0px;
  -webkit-box-shadow: var(--ithunzi);
  box-shadow: var(--ithunzi);
  background: #343f46;
  color: var(--white);
  cursor: pointer;
  animation: anime 1000ms alternate-reverse infinite;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@-webkit-keyframes anime{
from{opacity: .2;
  -webkit-transform: scale(.8);
          transform: scale(.8);
}
to{opacity: .9;
  -webkit-transform: scale(.9);
          transform: scale(.9);
}
}

@keyframes anime{
from{opacity: .2;
  -webkit-transform: scale(.8);
          transform: scale(.8);
}
to{opacity: .9;
  -webkit-transform: scale(.9);
          transform: scale(.9);
}
}

.quote-content{
  font-family: var(--sans) !important;
  font-size: 1.5rem;
  font-weight: bolder;
}

#universal{
  z-index: 20;
  bottom: 10px;
  position: fixed;
  min-width: 300px;
  max-width: 98%;
  min-height: 100px;
  max-height: 300px;
  padding: 20px;
  background: rgb(52,61,70);
  border-radius: 7px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: var(--border);
  display: none;
  place-items: center;
  grid-template-columns: auto 30px;
}

#content{
  color: var(--smoke);
  text-transform: capitalize;
  font-weight: normal;
  font-family: var(--roboto);
  font-weight: normal;
}


#universalOkay{
  color: var(--smoke);
  padding: 10px;
  border-radius: 4px;
  border-radius: 30px;
}

#universalOkay:hover,#universalOkay:active{
  transform: scale(1.2);
}


.article,article,#form{
  padding-top: 30px;
  background: var(--background);
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  overflow: hidden;
  /* From https://css.glass */
 -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
         box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 -webkit-backdrop-filter: blur(16px) saturate(180%);
         backdrop-filter: blur(16px) saturate(180%);
 border-radius: 12px;
 min-height: 50px;
 border: var(--border);
}

#resized{
  position: absolute;
  top: 100px;
  z-index: 1000;
  font-size: 1rem;
  font-weight: bolder;
  background: var(--smoke);
}

.footer-social{
  width: 110px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-family: var(--raji);
  text-transform: capitalize;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--background);
  outline: none;
  font-size: .9rem;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

i{
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
  }

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background: url(/images/delete.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  position:relative;
  right:20px;  
  -webkit-transform: scale(1.5);  
          transform: scale(1.5);
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
}

#back:hover,#back:active {
  border: .1px solid var(--tomato);
  color: var(--tomato) !important;
  background: none;
}

#next:hover,#next:active {
  border: .1px solid var(--lime);
  color: var(--lime) !important;
  background: none;
}

.list{
  font-family: var(--raji);
  font-size: .8rem; 
  text-transform: capitalize;
  
}

:is(.list) li{
  padding: 10px;
  color: var(--smoke);
  font-size: .9rem;

}

#bibleSuggestions{
	margin-left: 5%;
	margin-top: 3px;
  width: 90%;
  list-style: none;
}

#bibleSuggestions{
  margin: 0;
}

#bibleSuggestions li{
  font-family: var(--raji);
  font-size: 1rem;
  padding: 12px;
  margin-bottom: 5px;
  color: #000;
  background: #BFCCE6;
  border-radius: 4px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#bibleSuggestions :is(li:hover,li:active){
  background-image: -o-radial-gradient(circle, #67bb0b, #71b914, #7ab81c, #83b623, #8ab52a);
  background-image: radial-gradient(circle, #67bb0b, #71b914, #7ab81c, #83b623, #8ab52a);
  font-family: var(--sans);
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

#bibleContent{
  width: 90%;
  text-align: center;
  position: relative;
}

#biblePage #bibleContent{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

#bibleContent p{
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 20px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  /* background: var(--lime); */
  font-size: .9rem;
  color: #fefefe;
  border-radius: 5px;
  font-family: var(--robo);
  background: var(--background);
  border: .1px solid #222 !important;
  
}

#bibleContent :is(p:hover,p:active){
  background: rgb(52,61,70);
  color: #fefefe;
  font-family: var(--raji);
  cursor: pointer;
  
}

#bibleContent{
  margin-top: -50px;
}

#biblePage .word-search{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
}

#biblePage .fld,#wordInput{
  width: 100%;
  height: 80px; 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background:#ccc;
}

.bible-search{
  display: -ms-grid;
  display: grid;
  width: 100%;
  place-items: center;
  gap: 10px;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
}

.chapter{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 10%;
    max-height: 100%;
    border: .1px solid #222;
    padding: 20px 10px;
    background: rgb(52,61,70);
    border-radius: 8px;
    gap: 20px;
}

#chapters{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5px;
  overflow-y: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#chapters span{
    align-self: flex-start;
    min-width: 70px;
    place-items: center;
    padding: 10px;
    display: -ms-grid;
    display: grid;
    border-radius: 7px;
    height: 40px;
    color: #fefefe;
    font-family: var(--raji) !important;
    text-transform: capitalize;
    cursor: -webkit-grab;
    cursor: grab;
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
            backdrop-filter: blur(16px) saturate(180%);
    font-size: .9rem;
    border: .1px solid #222;
    font-size: 1rem;
    
}

#chapters .span-active{
  background: var(--lime) !important;
  font-weight: bolder;
  color: #000 !important;
}

#chapters :is(span:hover,span:active){
  color: #000 !important;
  font-weight: bolder;
  background: var(--tomato);
}

#books{
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 20px 0;
}

p{
  font-family: var(--robo);
  font-size: .9rem;
}

#logo{
  display: none;
}

#select,#cancelChapters{
  cursor: -webkit-grab;
  cursor: grab;
  background: var(--lime);
  width: 150px;
  height: 50px !important;
  border-radius: 7px;
  font-family: var(--robo) !important;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-transform: capitalize;
  transition: all 2.5s;
 @keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:center"] {
  animation: 1s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
}
  background: radial-gradient(circle, hsla(116, 50%, 47%, 1) 0%, hsla(116, 53%, 53%, 1) 58%, hsla(116, 74%, 62%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(116, 50%, 47%, 1) 0%, hsla(116, 53%, 53%, 1) 58%, hsla(116, 74%, 62%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(116, 50%, 47%, 1) 0%, hsla(116, 53%, 53%, 1) 58%, hsla(116, 74%, 62%, 1) 100%);
  cursor: grab;
  transition: background 9000;
}

#cancelChapters{
  background: var(--tomato);
}

#select:hover,#select:active{
  border: .1px solid var(--lime);
  color: var(--lime);
  background: transparent;
  font-weight: bolder;
  
}

#cancelChapters:hover,#cancelChapters:active{
  border: .1px solid var(--tomato);
  color: var(--tomato);
  background: transparent;
  font-weight: bolder;
}

#pagination{
  position: fixed;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  border: .1px solid #000813 !important;
  padding: 10px;
  background: rgb(52,61,70);
  min-width: 20px;
  border-radius: 10px;
  z-index: 3;

}

#pagination p{
  color: #fff;

}

#next,#back{
  width: 90px !important;
  text-transform: capitalize;
  font-family: var(--robo);
}

#back{
  background: var(--tomato);
}

#bibleInput,#bibleInputNo{
background: transparent !important;
width: 100%;
text-transform: capitalize !important;
font-family: var(--robo) !important;
font-size: .9rem;
color: #fefefe !important;
caret-color: var(--theme);
}

#bibleInputNo:invalid{
  color: var(--tomato) !important;
}

#query fieldset:first-child{
  width: 300px;
  background: rgb(52,61,70);
  border: .1px solid #000813;
  border-radius: 10px;
  cursor: -webkit-grab;
  cursor: grab;
}


#query fieldset:last-child{
  width: 110px;
  height: 80px;
  background: rgb(52,61,70);
  border: .1px solid #000813 !important;
  border-radius: 10px;
}

#query legend{
  margin-left: 5%;
  font-family: var(--robo);
  color: var(--lime);
}


#query{
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.love{
  color: var(--tomato);
}

#checkScreen{
width: inherit;
height: inherit;
}

#checkScreen{
  cursor: -webkit-grab;
  cursor: grab;
}
  
label:hover, label:active{
color: var(--tomato) !important;
cursor: grab;
}





/* special classes start  */
.full {
  width: 100%;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.overflow{
  overflow: hidden;
  width: 100%;
}

.full-child {
  width: 320px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding :20px;
}

.nogap{
  gap: 0 !important;
  padding: 0;
}

.svg{
  width: 40px;
  height: 40px;
}

.wrap{
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gap{
  gap: 10px;
}

.round {
    border-radius: 50%;
}

.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize{
  text-transform: capitalize;
}

.space {
    padding: 10px;
}

.bolder {
    font-weight: bolder;
}

.center {
    text-align: center;
}

.normal {
  font-weight: normal;
  color: #343f46;
}

.noshadow{
  -webkit-box-shadow: none;
          box-shadow: none;
}

.small{
  font-size: var(--small);
}

.uppercase{
  text-transform: uppercase;
}

.smallest{
  font-size: var(--smallest);
}

.gap-30{
  gap: 30px;
}

.shadow{
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);
}

.border{
  border: .1px solid var(--theme);
}

.noline{
  outline: none;
}

.capitalize{
  text-transform: capitalize;
}

.hidden{
  visibility: hidden;
}

.italics{
  font-style: italic;
}

.outline{
  outline: 1px solid var(--faded);
}

.scale{
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.reflect{
 -webkit-box-reflect: below 0 linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,1));
}

.scaled{
  -webkit-transform: scale(.95);
      -ms-transform: scale(.95);
          transform: scale(.95);
}

.img{
  width: 70%;
}

.highlight{
  font-family: var(--roboto);
  color: var(--theme);
  text-transform: capitalize;
}

.radius{
  border-radius: 5px;
}

.nobg{
  background: inherit !important;
  border: none;
}

.opace{
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

.smoke{
  background: var(--smoke) !important;
}

.border-right{
  border-top: none !important;
  border-left: none !important;
  border-bottom: none !important;
}

.tomato{
  color: var(--tomato);
}

.bgImg{
  background-image: -o-radial-gradient(circle, #67bb0b, #71b914, #7ab81c, #83b623, #8ab52a);
  background-image: radial-gradient(circle, #67bb0b, #71b914, #7ab81c, #83b623, #8ab52a);
  border-radius: 5%;
}
